<div class="container">
	<h3 align="center">Your Superhero.</h3>
	<h4>Your new Superhero has been created as follows:</h4>
	<p>Hero name: $name.</p>
	<p>Age: $age.</p>
	<p>Super Powers: $powers.</p>
	<p>Weaknesses: $weaknesses.</p>
	<a href="/">Go back</a>
</div>